<h1>Alphabetized Customers</h1>
<%= link_to "All Customers", root_path %> |
<%= link_to "Missing Emails", customers_missing_email_path %>

<% @customers.each do |customer| %>
  <%= render partial: "customer", locals: { customer: customer } %>
<% end %>
