<h1>Customers#alphabetized</h1>
<p>Find me in app/views/customers/alphabetized.html.erb</p>
<h1>Alphabetized Customers</h1>
<%= link_to "All Customers", root_path %> |
<%= link_to "Missing Emails", customers_missing_email_path %>

<% @customers.each do |customer| %>
  <%= render partial: "customer", locals: { customer: customer } %>
<% end %>

